/* HTML CSS */
html {
  scroll-behavior: smooth;
}

/* Body CSS */

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-repeat: none;
  background-size: cover;
}

/* Font Sizes */

h1 {
  font-family: "Montserrat", sand-serif;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #404040;
}

.h1-container {
  display: flex;
  justify-content: space-between;
}

.h1-left {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #404040;
  margin: 0;
  padding-top: 3rem;
}

.h1-right {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #404040;
  margin: 0;
  padding-top: 6rem;
  text-align: right;
}

p4 {
  font-size: .75rem;
}


/* Navigation Bar */

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000; /* Ensure the header is above other elements */
}


.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px 12px;
}

.logo {
  margin-left: 10vw;
  font-size: 24px;
  margin-right: 3rem; /* Add margin to separate the logo from links */
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin-right: 3.5rem;
  
}

.nav-links a:hover {
  text-decoration: underline;
}

.get-now-button {
  margin-left: auto;
  margin-right: 10vw;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 6px;
  background-color: #FFD466;
  transition: background-color 0.5s ease;
}

.get-now-button:hover {
  background: linear-gradient(45deg, #FFD466, #FF8594);
  text-decoration: underline;
}

.get-now-button a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

/* Hero Section */

.heroImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heroLogo {
  height: 128px;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Adjusted to hug the top of the container */
  height: calc(100vh - 80px);
  padding: 0 10%;
}

.left-content, .right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

.heroButton {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 6px;
  background-color: #FFD466;
  text-decoration: none;
  font-weight: 500;
  color: black;
  transition: background-color 0.5s ease;
}

.heroButton:hover {
  background: linear-gradient(45deg, #FFD466, #FF8594);
  text-decoration: underline;
}

.left-content {
  margin-right: 0vw;
  /* border: 1px solid red; */
}

.right-content {
  /* border: 1px solid red; */
  margin-left: -5vw;
}

/* Footer Bar */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    padding: 2rem 0;
  }
footer div {
  display: flex;
  justify-content: center;
}

footer div a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

footer div a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

footer div ul li {
  margin: 0 0.5rem;
  color: white;
}

/* Hero Animations */

.animated-logo {
  opacity: 0; /* Initially hide the logo */
  transform: translateX(-100%);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-video {
  opacity: 0; /* Initially hide the video */
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
}

/* Add fade-in effect */
.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}